.select-note-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    text-align: center;
}
.select-note-subtitle {
    width: 500px;
}
@media screen and (max-width: 550px) {
    .select-note-subtitle {
        width: 100%;
    }
}