.menu-container {
  display: flex;
  flex-direction: column;
  margin: 0px 25px;
  width: 350px;
}
.logo-container {
  margin: 25px 25px;
}
.add-note-container {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 35px;
  text-align: center;
}
.add-note-container > .add-note {
  width: 250px;
  background-color: #242424;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}
.add-note-container > .add-note:hover {
  width: 250px;
  background-color: #312eb5;
  color: white;
  font-size: 20px;
}
.bi-plus-lg {
  font-size: 20px;
}
.option-container {
  width: 350px;
  background-color: #181818;
  margin: 20px;
  padding: 15px;
  border-radius: 0.375rem;
}
.ActiveNotes-option {
  width: 250px;
  color: white;
  padding: 10px;
  margin-bottom: 25px !important;
  transition: 250ms ease-in-out;
  border: none;
  border-radius: 10px;
  background-color: #242424;
}
.ArchivedNotes-option {
  width: 250px;
  color: white;
  padding: 10px;
  margin-bottom: 25px !important;
  transition: 250ms ease-in-out;
  border: none;
  border-radius: 10px;
  background-color: #242424;
}
.ActiveNotes-option:hover {
  background-color: #312eb5;
}
.ArchivedNotes-option:hover {
  background-color: #312eb5;
}
.ActiveNotes-form-label:hover {
  cursor: pointer;
}
.ArchivedNotes-form-label:hover {
  cursor: pointer;
}
.search-container {
  margin: 25px;
  text-align: center;
}
.search-container > .search-form {
  width: 250px;
  height: 50px;
  color: white;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #242424;
  border: none;
}
.search-container > .search-form:focus {
  outline: none;
  background-color: #242424;
  color: white;
}
.ActiveButton {
  background-color: #312eb5;
}
@media screen and (max-width: 1366px) {
  .menu-container {
    margin: 0px 25px;
    width: 225px;
  }
  .logo-container {
    margin: 25px auto;
  }
  .add-note-container {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 35px;
    text-align: center;
  }
  .option-container {
    width: 250px;
    background-color: #181818;
    margin: auto;
    padding: 0px;
    border-radius: 0.375rem;
  }
  .search-container {
    margin: 25px auto;
    text-align: center;
  }
  .nav {
    --bs-nav-link-padding-x: 0px !important;
    --bs-nav-link-padding-y: 0px !important;
  }
}
@media screen and (max-width: 1000px) {
  .menu-container {
    margin: 25px 0px;
    width: 100%;
  }
}
